@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo ao Ponto All.</h1>
    <h2 class="display-8">O seu sistema de marcação de ponto online.</h2>
    <p>Leia mais em... <a href="https://docs.microsoft.com/aspnet/core">Ambiente em desenvolvimento com o ASP.NET Core</a>.</p>
</div>
