@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div class="row">
        <div class="col-md-4">
            Bem vindo!
        </div>
    </div>Batedor de Ponto
</div>

