@{
    ViewData["Title"] = "Pagina Inicial";
}

<section class="pb-4">
    <div class="text-center">
        <br>
        <br>
        <h1 class="display-4">Seja Bem Vindo ao Ponto All.</h1>
        <br>
        <h2 class="display-8">O seu sistema de marcação de ponto online.</h2>
        <br>
        <p>Faça o seu login e registre o seu ponto.</p>
        <br>
        <p>Para suporte entre em contato diretamente com o RH da sua empresa.</p>
        <br>
    </div>
</section>
<!--section class="pb-4"-->
<!--div class="bg-white border rounded-5">

    <!--section class="w-100 p-4 d-flex justify-content-center pb-4"-->
<!--form style="width: 22rem;"-->
<!-- Email input -->
<!--div class="form-outline mb-4">
    <input type="email" id="elemento1" class="form-control">
    <label class="form-label" for="form2Example1" style="margin-left: 0px;">Usuário</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div>
</!--div>

<!-- Password input -->
<!--div class="form-outline mb-4">
    <input type="password" id="elemento2" class="form-control">
    <label class="form-label" for="form2Example2" style="margin-left: 0px;">Senha</label>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
</!--div>

<!-- 2 column grid layout for inline styling -->
<!--div class="row mb-4">
    <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
<!--div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="xxx" checked="">
        <label class="form-check-label" for="form2Example31"> Manter conectado </label>
        <br>

    </!--div>
</div>

<div class="col">
    <!-- Simple link
        <a href="#!">Forgot password?</a>
    </div> -->
<!-- Submit button -->
<!--input type="button" class="btn btn-primary btn-block mb-4" value="Enviar" onClick="logar()" />

<script>
    function logar() {
        var x = document.getElementById("elemento1").value;
        var y = document.getElementById("elemento2").value;

        if (x != "" && y != "") {
            window.location.href = './Home/Principal';
        } else {
            alert("Favor preencher todos os campos");
        }
    }

</script-->
<!-- Register buttons
            <div class="text-center">
                <p>Not a member? <a href="#!">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>

        </form>
</section-->
<!--/div-->
<!--/section-->
<!-- Footer -->

<!-- Copyright -->
<!--div class="text-center text-white p-2" style="background-color: #47525E">
    &copy; ©Gestão de Colaboradores &Aacute; Ponto Online. Todos os Direitos Reservados a PontoAll Sistemas. 2022© </a>
 </div-->
<!-- Copyright -->
<!--/footer-->