@model  ProjetoPonto.Models.Cadastro
@{
    ViewBag.Title = "Cadastro";
}


<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Adicionar", "Adicionar", "Cadastro")</li>    
</ul>

<!-- PENDENTE IMPLEMENTAR LISTAGEM -->