@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo ao Ponto All.</h1>
    <h2 class="display-8">O seu sistema de marcação de ponto online.</h2>
    <p>Ambiente em desenvolvimento com o ASP.NET Core</p>
    <br />
    <br />
    <h4> Registo de Ponto</h4>
    <br />
    <br />
    <div>
        <div class="gfg">Sistema de Ponto</div>

        <p><strong id="conteudo" /></p>

        <script type="text/javascript">
            now = new Date
            var dia = now.getDate();           // 01-31
            var hora = now.getHours();          // 00-23
            var min = now.getMinutes();        // 00-59
            var str_hora = hora + ':' + min;
            document.write("Hoje é " + now.getDate() + "/" + now.getMonth() + "/" + now.getFullYear())
            document.write(", " + str_hora)

            function getlocation() {

                const address = document.querySelector("pre");

                function onError() {
                    address.textContent = "Erro ao carregar sua localização tente novamente!";
                    alert("Erro ao carregar sua localização tente novamente!")
                }

                async function onSuccess(position) {
                    const geocode = await fetch(`https://geocode.xyz/${position.coords.latitude},${position.coords.longitude}?json=1`);
                    const geoResponse = await geocode.json();

                    document.getElementById("conteudo").innerHTML = "Sua localização é: " + `${geoResponse.staddress}, ${geoResponse.stnumber}, ${geoResponse.city}, ${geoResponse.postal}, ${geoResponse.country} `
                }

                if (!navigator.geolocation) {
                    onError();
                } else {
                    navigator.geolocation.getCurrentPosition(onSuccess, onError);
                }
            }

        </script>
        <button class="geeks" type="button" onclick="getlocation()">Registrar Ponto.</button>
                   <br />
                    <i class="fa fa-clock-o"> 00:00</i>
                </div>
                <div class="contentBlk">
                    Você está atualmente<br />

                    <span class="clockstatus workStatus"></span>
                    <form action="" method="post" class="clockBtn">
                        <input type="hidden" name="vhora" value="15" />
                        <input type="hidden" name="entryId" value="" />
                        <input type="hidden" name="weekNo" value="45" />
                        <input type="hidden" name="clockYear" value="2022" />
                        <input type="hidden" name="running" id="running" value="0" />
                        <input type="hidden" name="isRecord" id="isRecord" value="1" />
                        <button type="submit" name="submit" id="timetrack" value="toggleTime" class="btn btn-lg btn-icon" value2="toggleTime"><i class=""></i> <span></span></button>
                    </form>
                </div>
            </div>
        

        <script>
            jQuery(function ($) {

                /** ******************************
                * Time Clock
                ****************************** **/
                var isRunning = $('#running').val();
                if (isRunning == '0') {
                    if ($("#timetrack").hasClass("btn-warning")) {
                        $("#timetrack").removeClass("btn-warning");
                        $("#timetrack").addClass('btn-success');
                    }
                    if ($("#timetrack i").hasClass("fa fa-sign-out")) {
                        $("#timetrack i").removeClass("fa fa-sign-out");
                        $("#timetrack i").addClass('fa fa-sign-in');
                    }
                    $("#timetrack").addClass('btn-success');
                    $("#timetrack i").addClass('fa fa-sign-in');
                    $(".workStatus").html("INATIVO");
                    $("#timetrack span").html("ATIVAR");
                } else {
                    if ($("#timetrack").hasClass("btn-success")) {
                        $("#timetrack").removeClass("btn-success");
                        $("#timetrack").addClass('btn-warning');
                    }
                    if ($("#timetrack i").hasClass("fa fa-sign-in")) {
                        $("#timetrack i").removeClass("fa fa-sign-in");
                        $("#timetrack i").addClass('fa fa-sign-out');
                    }
                    $("#timetrack").addClass('btn-warning');
                    $("#timetrack i").addClass('fa fa-sign-out');
                    $(".workStatus").html("ATIVO");
                    $("#timetrack span").html("DESATIVAR");
                }

            });
        </script>

   